body {
    background: azure;
    color: darkslategray;
    margin: 0 auto;
    width: 90%;
    font-family: 'Roboto', sans-serif;
}

p {
    text-align: justify;
}

span {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}

span:hover {
    color: black;
    transition: color;
    transition-duration: 1s;
}

.tooltip[data-baloon]:after {
    content: attr(data-baloon);
    background-color: #555;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    color: azure;

    height: 100%;
    width: 120px;
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
}